/**
 * _variables.scss
 */
 
 /* Fonts */
$sans-serif: "游ゴシック",YuGothic,"ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","メイリオ",Meiryo,sans-serif;
$serif: "游明朝";
$alpha-serif: "GFS Didot", "Times New Roman", Times, Georgia, serif;

/* Media Queries */
$breakpoints: (
  desktop: 840px,
  tablet: 480px,
  mobile: 0px
) !default;

/* Effect Settings */
$basic-transition: 0.2s ease-out;